@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext);
html {
	background-color: #fff;
	font-family: 'Roboto Slab', serif;
	sx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #1a1a1a;
}
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.container {
	width: 90%;
}
#react {
	padding: 0px;
	height: 100%;
	width: 100%;
	margin-top: 20px;
}
.collapsible.popout li {
	margin: 0px;
}
.collapsible-body p {
	padding: 5px 10px;
}
